<nav class=" nav-header ">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Focus List</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/sign-in/email">Sign In</a></li>
            <li><a href="/sign-up/email" class="waves-effect waves-light btn ">Sign Up</a></li>
        </ul>
    </div>
</nav>