<div class="row">
    <div class="row">
        <div class="col m6 s10 offset-m3">
            <h1>Sign In with trello:</h1>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s10 offset-m3">
            <div class="alert alert-danger mdi-alert-error alert-error js-auth-error">
                Sorry, we can not find this email. Please Try again.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s10 offset-m3">
            <div class="alert alert-danger mdi-alert-error alert-warning js-auth-waiting">
                Waiting for Trello.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col m6 s10 offset-m3">
            <div class="alert alert-danger mdi-alert-error alert-success js-auth-success">
                Success!
            </div>
        </div>
    </div>

</div>