<div class="container">
    <div class="row">
        <div class="col s12">
            <h1>Create new report. Step 1.</h1>
            <h6>Step 1. Choose boards and organizations.</h6>
        </div>
    </div>
    <div class="col s12">
        <table class="bordered striped highlight responsive-table js-dashboard-table">
            <thead>
            <tr>
                <th class="center-align">#</th>
                <th>Board Name</th>
                <th>Organization</th>
            </tr>
            </thead>

            <tbody>

            <% _.each(boards, function(board) { %>
            <% if ( board.closed == false ) { %>
            <tr class="js-report-create-table-board report-create-table-board" data-id="<%- board.id%>">
                <td class="center-align">
                    <input class="js-rc-board" type="checkbox" id="js-rc-board-<%- board.id%>" data-id="<%- board.id%>"/>
                    <label class="js-rc-board" for="js-rc-board-<%- board.id%>"></label>
                </td>
                <td><%- board.name %></td>
                <td>
                    <% _.each(organizations, function(organization) { %>
                    <% if ( organization.id == board.idOrganization ) { %>
                    <%- organization.displayName%>
                    <% } %>
                    <% }); %>
                </td>
            </tr>
            <% } %>
            <% }); %>

            </tbody>
        </table>
    </div>
</div>
<div class="fixed-action-btn">
    <a class="btn-floating btn-large red js-report-create-go-to-step-2" >
        <i class="material-icons">trending_flat</i>
    </a>
</div>