@font-face{font-family:"PTSansRegular";src:url("../fonts/PTSansRegular/PTSansRegular.eot");src:url("../fonts/PTSansRegular/PTSansRegular.eot?#iefix") format("embedded-opentype"),url("../fonts/PTSansRegular/PTSansRegular.woff") format("woff"),url("../fonts/PTSansRegular/PTSansRegular.ttf") format("truetype");font-style:normal;font-weight:normal}

/*# sourceMappingURL=../maps/variables/fonts.css.map */
