$color_white: #FFF;
$color_black: #000;
$color_htext: #505666; /* текст заголовков и списков */
$color_raven: #4c5263; /* фон футера */
$color_draven: #2B3340; /* кнопка default */
$color_fbord: #474d5c; /* рамка в футере */
$color_maintext: #6c798e; /* основной цвет текста */
$color_toasttext: #24768e; /* текст в toast */
$color_deep: #077F9E;
$colorAvatarFreelancer: #00796B;
$color_ul: #C8E1EF; /* схема работы, тайтлы */
$color_ddeep: #363e4f;
$color_bc: #313642; /* хлебные крошки */
$color_red: #e37070; /* алерты, данжеры */
$color_blue: #30bbe5; /* фон кнопки, рамка тоаста */
$color_lblue: #a8ebff; /* фон тоаста */
$color_dblue: #007dc1; /* фон кнопки */
$color_green: #00ad5d; /* фон кнопки */
$color_gray: #505050; /* текст в формах */
$color_lgray: #ddd; /* рамка инпутов, диалоговых окон, заполнитель чекбоксов, радио */
$color_vlgray: #fafafa; /* фон табов */
$color_body: #f2f2f2;
$color_warning: #a4a400; /* warning text */
$color_danger: #b10000; /* danger text */
$color_success: #00a300; /* success text */