$screen: "only screen";

$highdensity: "(-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),(min-device-pixel-ratio: 1.5)";

$small: "(max-width: 767px)";

$medium: "(min-width: 768px) and (max-width: 991px)";

$large: "(min-width: 992px) and (max-width: 1199px)";

$extra-large: "(min-width: 1200px)";

$print: "print";

@mixin respond-to($media) {
  //@if $media == highdensity {
  //  @media only screen and (-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2),(min-device-pixel-ratio: 1.5) { @content; }
  //}
  @if $media == small-screens {
    @media only screen and (max-width: 767px) {
      @content;
    }
  } @else if $media == medium-screens {
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $media == large-screens {
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $media == extra-large-screens {
    @media only screen and (min-width: 1200px) {
      @content;
    }
  } @else if $media == print {
    @media only screen and (print) {
      @content;
    }
  }
}